<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/showAllUsers}" th:object="${user}">
    <label for="username">Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br/>
    <label>Role:
        <select size="2" multiple name="roles">
            <option value="1">ADMIN</option>
            <option selected="selected" value="2">USER</option>
        </select>
    </label>

    <br/><br/>

    <input type="submit" value="Create!"/>

</form>

</body>
</html>
