<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello</title>
</head>
<body>

<div>
    <th:block th:each="user : ${users}">
<!--        <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">USER</a>-->
        <p th:text="${user.getId()}">Value</p>
        <p th:text="${user.getName()}">Value</p>
        <p th:text="${user.getLastName()}">Value</p>
        <p th:text="${user.getAge()}">Value</p>
        <p th:text="${user.getEmail()}">Value</p>
        <br/>
        <br/>
    </th:block>
</div>
</body>
</html>